@media(max-width: 551px){
    .menu{
        display: none;
    
    }
    .menu.open{
        display: block;
    }
}
@media(min-width: 552px){
    .menuHamburguer{
        display: none;
    }
    .menu {
        display: block;
        position: static;
        background-color: transparent;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
    }

    .menu ul li {
        border-bottom: none;
    }

    .menu ul li a {
        padding: 1em;
        color: #f3f3f3;
        text-decoration: none;
    }
}