/*responsividade menuHamburguer e button*/
@media(max-width: 2000px){
    .carrossel{
        max-width: 95vw;
        height: 50vh;
    }
    .slide{
        font-size: 2rem;
    }
    button.prev, button.next{
        font-size: 1.5rem;
        padding:0.5rem;
    }   
}
@media(min-width: 2000px){
    .menu{
        display: none;
    
    }
    .menu.open{
        display: block;
    }

}
@media(min-width: 601px){
    .menuHamburguer{
        display: none;
    }
    .menu {
        display: block;
        position: static;
        background-color: transparent;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
    }

    .menu ul li {
        border-bottom: none;
    }

    .menu ul li a {
        padding: 1em;
        color: #f3f3f3;
        text-decoration: none;
    }
}