*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth; 
}
body.temaEscuro{

    --corFundo: #1b004b;
    --corFonte: #f3f3f3;
    --coresFundo01: #333;
    --coresFundo02: #5dc1b9;
    --corFundo03: #Add8e6;
    --footerHeader: #00008b;
    --corHover: #007bff;
}
body.temaClaro{

    --corFundo: #f3f3f3;
    --corFonte: #333;

}


body{
    width: 100%;
    height: auto;
    overflow:hidden ;
    background-color: var(--corFundo) ;
    color: var(--corFonte);
    width: 100%;
    height: auto;
    overflow: auto;
    overflow-x: auto;
}
header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--footerHeader); ;
    box-sizing: border-box;
    top: 0; 
    z-index: 1000;
}
img:hover{
    transform: scale(1.1); 
}
#temaToggle{
    right: 0;
    width: 100px;
    height: 100px;
}
/*estilização menu hamburguer*/
.menuHamburguer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menuHamburguer span {
    background-color: var(--corFonte);
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transition: 0.3s;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    background-color: var(--corFundo);
    margin-right: 10px;
    border-radius: 50%;
}

.containerLogo p {

    margin: 0;
}
.menu {
    background-color: var(--coresFundo01);
    padding: 10px 0;
    border-radius: 8px;
    position: relative;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    border-bottom: 1px solid var(--coresFundo01);
}

.menu ul li a {
    display: block;
    color:var(--corFonte);
    text-decoration: none;
}

.menu ul li a:hover {
   
    background-color: var(--corHover);
}

.todosJogos, .novosJogos p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corFundo03);
    width: 220px;
    height: auto;
    border-radius: 1em;
    color: var(--coresFundo01);
    margin: 2rem;
    font-size: 2rem;
    
}
/*estilização carrosseis*/
.carrossel01 {
    position: relative;
    max-width: 80vw; /* 80% da largura do carrosel em relação ao viewport */
    height: 60vh; /* Altura do carrossel em relação ao viewport */
    margin: 5vh auto; /* Margem superior em relação ao viewport */
    overflow: hidden; /* Oculta o conteudo que ultrapassa o carrossel */
    border-radius: 1rem;
}

.carrossel02 {
    position: relative;
    max-width: 80vw; /* 80% da largura do carrosel em relação ao viewport */
    height: 60vh; /* Altura do carrossel em relação ao viewport */
    margin: 5vh auto; /* Margem superior em relação ao viewport */
    overflow: hidden; /* Oculta o conteudo que ultrapassa o carrossel */
    border-radius: 1rem;
}

.slides01 {
    display: flex;
    transition: transform 0.5s ease-in-out;
 
}
.slide01 img{
    width:  100px;
    height: auto; 
    margin: 7em;
} 
.slides02{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide02 img{
    width:  100px;
    height: auto; 
    margin: 7em;
} 

.slide01 {
    min-width: 100%; /* Cada slide ocupa 100% da largura do carrossel */
    height: 100%; /* Altura dos slides */
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1rem; /* Tamanho do texto dos slides */
    flex-flow: column wrap;
   
}
.slide01 p{
     color: var(--coresFundo01) ;
    border: 6px solid var(--corFundo03) ;
    background-color: var(--corFundo03);
    border-radius: 1em;
}
.modalidades {   
    padding: 0; 
    margin: 0;
    color: var(--corFonte);
    text-align: center;
}

.slide02 {
    min-width: 100%; /* Cada slide ocupa 100% da largura do carrossel */
    height: 100%; /* Altura dos slides */
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1rem; /* Tamanho do texto dos slides */
    flex-flow: column wrap;
}
.slide02 p{
    color:var(--coresFundo01);
    border: 6px solid var(--corFundo03) ;
    background-color: var(--corFundo03);
    border-radius: 1em;
}

/*estilização dos botoes*/
button.prev01, button.next01 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* vale apena usar para rgb quando tiver limite de transparencia */
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    background-color: transparent;
}
button.prev02, button.next02 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* vale apena usar para rgb quando tiver limite de transparencia */
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    background-color: transparent;
}
button.prev01 {
    left: 1vw; /* 1% da largura do viewport */
}

button.next01{
    right: 1vw; /* 1% da largura do viewport */
}
button.prev02 {
    left: 1vw; /* 1% da largura do viewport */
}

button.next02 {
    right: 1vw; /* 1% da largura do viewport */
}

/*estilizacao das ofertas*/
.Ofertas{
   text-align: center;
}
.Ofertas p{
    border: 1px solid var(--corFundo03);
    border-radius: 1em;
    background-color: var(--corFundo03);
    text-align: center;
    font-size: 2rem;
    color: var(--coresFundo01);
}
.desconto img{
    width:  50vh;
    height: auto; 
 
}
/*estilizacão do sobre nós*/
.Sobre{
    text-align: center;
    color: var(--coresFundo01);
    background-color: var(--coresFundo02);
    border-radius: 1em;
    
}
.Sobre h1{
    text-align: center;
    border: 0.5px solid var(--corFundo03);
    border-radius: 2em;
    background-color: var(--corFundo03);
    margin: 5vh;
}
.Sobre p{
    font-size: 1.2rem ;
}
.logoSobre img{
    width:  100px;
    height: auto; 
    
}
/*estilizacao do footer*/
footer {
    background-color: var(--footerHeader); 
    color: var(--corFonte); 
    padding: 5px 0; 
    text-align: center; 
    font-size: 10px; 
}

.container-footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px; 
}

.logo-footer img {
    max-width: 100px; 
    margin-bottom: 5px; 
}

.redes {
    margin: 4px 0; 
}

.redes img {
    width: 24px; 
    margin: 0 5px; 
    transition: transform 0.3s ease;
}

footer p {
    margin-top: 10px; 
    font-size: 8px; 
    line-height: 1.2; 
}