*{
    padding: 0%;
    margin: 0%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    box-sizing: border-box;
}

.menuHamburguer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menuHamburguer span {
    background-color: #f3f3f3;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transition: 0.3s;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.containerLogo .logo {
    width: 2em;
    height: 2em;
    background-color: #f9a9a0;
    margin-right: 10px;
    border-radius: 50%;
}

.containerLogo p {
    color:#f3f3f3;
    margin: 0;
}
.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 30%;
    background-color: #444;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    border-bottom: 1px solid #555;
}

.menu ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #555;
}